@import '~node_modules/modern-normalize/modern-normalize.css';

.palette {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  list-style: none;
}

.body {
  height: 1000vh;
}
