body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.image-container {
  margin-bottom: 20px;

  width: 800px;
  height: 600px;
}

.lazy-img {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}
