<div
  style="
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  "
>
  <h2 style="text-align: center; font-size: 40px">ТАЙМЕР 5ХВ</h2>

  <!-- type="number" - робимо інпут в який можна вказувати тільки числа  -->
  <!-- min="0" - описує мінімадьне допустиме значення  -->
  <!-- max - описує максимальне значення досутпне для вводу -->
  <label>
    XB
    <input style="width: 100%" type="number" id="minutes" min="0" value="5" />
  </label>
  <label>
    SEC
    <input
      style="width: 100%"
      type="number"
      id="seconds"
      min="0"
      max="59"
      value="0"
    />
  </label>
  <button id="startTimer">Розпочати</button>
  <div id="timeDisplay"></div>
</div>
